.bg-general {
    background:transparent url('../images/bg-perro.png') no-repeat center bottom fixed;
}

.bg-semitransparente {
    background-color: rgba(220,220,220,0.5);
}

.bg-huellas {
    background:#b7bbb7 url('../images/bannerHuellas.png') repeat center;
}

.text-indent, .text-parrafado, .parrafear p {
    text-indent: 1em;
}

.text-justify, .text-parrafado, .parrafear p {
    text-align: justify;
}

.sin-margen-bottom p {
    margin-bottom: 0px !important;
}

.navbar-toggler {
    border: none;
}

.fa-whatsapp {
    color: #00cc66;
}
